
/********** General style for login page ***********/

body{
    background-image:url(../img/login_page/shutterstock_298535048-min.jpg);
     background-repeat: no-repeat;
	 background-size: 100%;
	 direction: rtl;
	 background-position-y: center;

}

h2 {
    text-align: center;
    margin-top: -37px;
    color: #ff284f;
}

p{
     margin-right:100px;
}

/***************** login form **********************/

#frm{
    border:solid grey 2px;
    max-width: 500px;
    border-radius: 20px;
    margin: auto;
    background: #ffffffe6;
   
}

.container {
  padding: 16px;
}

.form {
    color: #fff;
}

form {border: 3px solid #f1f1f1;}



/* test heandling*/ 

.login-heading {
    color: #d60027;
    text-align: center;
    padding-bottom: 8%;
    margin-top: -4%;
    font-size: 30px;
}


span.psw {
  float: right;
  padding-top: 16px;
}


/* buttons */

#btn
{
    color:#fff;
    background:#337ab7;
    padding:5px;
    margin-right:69px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #ff004e;
}



/* form fields*/

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/*image*/

.imgcontainer {
  text-align: center;
}



/********************* Responsive page **********************/

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}